.whatsapp {
  position: fixed;
  bottom: 40px;
  right: 45px;
  background-color: #25D366;
  color: white;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  transition: transform 0.2s ease-in-out;
  
}

.whatsapp:hover {
  transform: scale(1.1);
}

@media (max-width: 850px){
    .whatsapp {
  position: fixed;
  bottom: 40px;
  right: 25px;
 width: 20px;
 height: 20px;

 
}

}